<div class="col-md-12">
  <div class="dropdown clearfix pull-right">
    <button id="sortBtn" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" >
      <%= t("sortBtn") %>
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" aria-labelledby="sortBtn">
      <li><%= link_to(t("sortByWageLowerBound"), jobs_path(order: "order_by_lower")) %></li>
      <li><%= link_to(t("sortByWageUpperBound"), jobs_path(order: "order_by_upper")) %></li>
      <li><%= link_to(t("sortByCreatedAt"), jobs_path(order: "order_by_created_at")) %></li>
    </ul>
  </div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th><%= t("title") %></th>
        <th><%= t("wageLowerBound") %></th>
        <th><%= t("wageUpperBound") %></th>
        <th><%= t("createdAt") %></th>
      </tr>
    </thead>
    <tbody>
      <% @jobs.each do |job| %>
        <tr>
          <td><%= link_to(job.title, job_path(job)) %></td>
          <td><%= job.wage_lower_bound %></td>
          <td><%= job.wage_upper_bound %></td>
          <td><%= render_date_format(job.created_at) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <div class="text-center">
    <%= will_paginate @jobs %>
  </div>
</div>
