<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a href="/jobs" class="navbar-brand"><%= t("sysName")%></a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <% if current_user %>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" id="navbarMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            Hi!
            <%= current_user.username %>
            <b class="caret"></b>
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarMenu">
            <% if render_user_role(current_user, "HR") %>
            <li><%= link_to(t("companyPanel"), company_jobs_path) %></li>
            <% end %>
            <li>
              <%= link_to(t("userManage"), edit_user_registration_path(current_user)) %>
            </li>
            <li role="separator" class="divider"></li>
            <li><%= link_to(t("quit"), destroy_user_session_path, method: :delete) %></li>
          </ul>
        </li>
      <% else %>
        <li>
          <a href="#" data-toggle="modal" onclick="showModal('signup')"><%= t("signUp") %></a>
        </li>
        <li>
          <a href="#" data-toggle="modal" onclick="showModal('signin')"><%= t("signIn") %></a>
        </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>

<div class="modal fade" id="signup-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;"></div>

<script>
  function showModal(name) {
    if (name == 'signup') {
      $("#signup-modal").html("<%= escape_javascript(render 'common/devise/signup') %>")
    } else {
      $("#signup-modal").html("<%= escape_javascript(render 'common/devise/signin') %>")
    }
    $("#signup-modal").modal("show")
  };
</script>
